@use '../../styles/variables' as v;

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.error {
    background-color: v.$tertiary;
    color: white;
    padding: 1rem;
    border-radius: .3rem;
    text-align: center;
    margin: 1rem 0;
}

.searchInfo {
    text-align: center;
    margin-bottom: 1rem;
    color: v.$tertiary;

    h3 {
        margin: 0 auto;
        font-weight: normal;
        border-bottom: 3px solid v.$tertiary;
        padding: 5px;
        width: 400px;
    }

    .queryText {
        color: v.$tertiary;
        font-weight: bold;
        font-style: italic;
        padding: px;
    }
}



.displayOptions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 1.5rem;

    span {
        color: v.$secondary;
        font-size: 0.9rem;
    }
}

.countButton {
    padding: 0.4rem 0.8rem;
    background-color: white;
    border-radius: 4px;
    color: v.$secondary;
    cursor: pointer;
    transition: all 0.2s ease;
    font-size: 0.6rem;
    font-weight: 900;
    border: none;

    &:hover {
        background-color: v.$highlights;
        color: v.$text;
    }
}

.activeCount {
    background-color: v.$highlights;
    color: v.$text;
    font-weight: bold;
}

.resultsInfo {
    text-align: center;
    font-size: 0.9rem;
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid v.$highlights;
}