@use '../../styles/variables' as v;

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    margin: 0 auto;
}

.form {
    display: flex;
    width: 100%;
    max-width: 500px;
    padding: 20px;
}

.input {
    flex: 1;
    padding: v.$spacer;
    width: 100%;
    border-radius: 10px 0 0 10px;
    font-size: 1rem;
    transition: border-color 0.3s ease-in-out;
    border-right: none;
    height: 20px;
    border: 2px solid v.$highlights;

    &::placeholder {
        color: v.$highlights;
    }

    &:focus {
        outline: none;
        border-color: v.$primary;
        color: v.$primary;
    }


}

.button {
    padding: v.$spacer;
    border: none;
    background: v.$highlights;
    ;
    color: white;
    font-size: 1rem;
    border-radius: 0 10px 10px 0;
    cursor: pointer;


}