@use '../../styles/variables' as v;
;

.header {
    background: v.$primary;
    color: white;
    padding: v.$spacer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand {
    display: flex;
    flex-direction: column;
}


.logo {
    width: 40px;
    height: 40px;
    background: rgba(white, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 0.75rem;
    text-transform: uppercase;
}


.brandLogo {
    height: 100px; // Adjust as needed
    width: auto;
    vertical-align: middle;
}