@use '../../styles/variables' as v;
;

.header {
    background: v.$primary;
    color: white;
    padding: v.$spacer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand {
    display: flex;
    flex-direction: column;
}


.brandLogo {
    height: 100px; // Adjust as needed
    width: auto;
    vertical-align: middle;
}