@use '../../styles/variables' as v;



.card {
    width: 250px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    border-radius: 8px;
    box-shadow: v.$highlights 0px 0px 0px 3px, v.$primary 0px 4px 6px -1px;
    transition: transform 0.3s ease;

    &:hover {
        transform: translateY(-9px);
    }
}



.placeholder {
    // Placeholder for the image
    width: 100%;
    height: 200px;
    background: v.$primary;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    border-radius: 8px 8px 0 0;
    gap: 0.5rem;

    & .icon {
        font-size: 2rem;
    }
}



.content {
    padding: v.$spacer;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll; // allows scrolling if content overflows
    scrollbar-width: none;
}

.title {
    margin: 0 0 0.5rem;
    font-size: 1.2rem;
    color: v.$primary;
}

.subtitle {
    font-size: .9rem;
    color: v.$secondary;
    margin: 0 0 0.5rem;
    font-style: italic;
}

.authors {
    color: v.$secondary;
    font-size: 0.9rem;
    margin: 0 0 0.5rem;
}

.description {
    font-size: 0.85rem;
    margin-bottom: 0.5rem;
    flex: 1;
}

.categories {
    font-size: 0.8rem;
    color: v.$tertiary;
    margin: 0;
    font-weight: bold;
}

.footer {
    padding: 20px;
    display: flex;
    justify-content: flex-end;

}

.detailsButton {
    background: 0 0;
    color: v.$primary;
    border: none;
    padding: 0.3rem 0.8rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.8rem;
    border: 2px solid v.$primary;
    font-weight: 600;

    &:hover {
        border-bottom: 4px solid v.$tertiary;
        border-radius: 4px;
    }
}


.thumbnailContainer {
    margin: 10px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.thumbnail {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}