@use './styles/variables' as v;

body {
	background: v.$background;
	color: v.$text;
	font-family: v.$font-family-base;
	margin: 0;
}

.loading {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}